<div class="container">
    <div class="cont">
        <div class="cont1">
            <img src="../../assets/venuanna.jpeg">
        </div>
        <div class="cont2">
            <h2 style="color: rgb(29, 29, 48);font-size: 25px;font-weight: 700;">Varcas Infosystems India Private
                Limited</h2>
            <p style="color: gray;"><i class="fa-solid fa-location-dot"></i>VST Colony, Punjagutta, Hyderabad, Telangana
                500082</p>
        </div>
        <div class="cont3">
            <button class="mess"><i class="fa-solid fa-envelope"></i>Messages</button>
            <button class="set"><i class="fa-solid fa-gear"></i>Settings</button>
        </div>
    </div>
</div>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Home">
        <div id="home1" class="d-flex justify-content-evenly">
            <div class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded " id="box"
                style="width: 250px;height:200px">
                <p>summary<span><i class="fa-solid fa-ellipsis-vertical"></i></span></p>
                <h5>21</h5>
                <h6>Due Tasks</h6>
                <p class="pp">completed:<span style="font-size: 20px;">13</span></p>
            </div>
            <div class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded" id="box"
                style="width: 250px;height:200px">
                <p>Over Due<span><i class="fa-solid fa-ellipsis-vertical"></i></span></p>
                <h5 style="color: rgb(243, 70, 70);">17</h5>
                <h6 style="color: rgb(243, 70, 70);">Tasks</h6>
                <p class="pp">From Yesterday:<span style="font-size: 20px;">9</span></p>
            </div>
            <div class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded" id="box"
                style="width: 250px;height:200px">
                <p>Issues<span><i class="fa-solid fa-ellipsis-vertical"></i></span></p>
                <h5 style="color: rgb(245, 245, 83);">24</h5>
                <h6 style="color: rgb(245, 245, 83);">open</h6>
                <p class="pp">Closed Today:<span style="font-size: 20px;">19</span></p>
            </div>
            <div class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded" id="box"
                style="width: 250px;height:200px">
                <p>Features<span><i class="fa-solid fa-ellipsis-vertical"></i></span></p>
                <h5 style="color: rgb(48, 141, 48);">21</h5>
                <h6 style="color: rgb(48, 141, 48);">Proposals</h6>
                <p class="pp">Implemented:<span style="font-size: 20px;">16</span></p>
            </div>
        </div>
        <div class="bb">
            <div class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded" id="bigbox"
                style="width: 1213px;height:835px">
                <div class="main">
                    <h3>Schedule</h3>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Institute Open Time<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>9:30 AM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Class<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>10:00 AM To 11:00 AM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Practise Session Of Class<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>11:00 AM To 12:00 PM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Meetings<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>12:00 PM To 1:00 PM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Lunch Break<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>1:00 PM To 2:00 PM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Doubts Clarifications<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>2:00 PM To 3:00 PM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Communication Developments<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>3:00 PM To 4:30 PM</p>
                </div>
                <div class="pb-2 mb-4 text-black border-bottom" id="icon">
                    <h5>Institute Close Time<i id="icon1" class="fa-solid fa-angle-right"></i></h5>
                    <p><i class="fa-sharp fa-solid fa-clock"></i>5:00 PM</p>
                </div>
            </div>
        </div>
    </mat-tab>
    
    <mat-tab label="Team">
        <section class="userbox" style="background-color:rgba(184, 208, 248, 0.5);">
            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/vamsi.jpeg">
                    <h4>Vamsinadh</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/vijay.jpeg">
                    <h4>Vijay</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/madhu.jpeg">
                    <h4>Madhu Kiran</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/bayapu.jpeg">
                    <h4>Bayapu Reddy</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>

            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/ismail.jpeg">
                    <h4>Ismail</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/raja gopal.jpeg">
                    <h4>Rajagopal Reddy</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/saritha.jpeg">
                    <h4>Saritha</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/sneha.jpeg">
                    <h4>Sneha</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>


            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/sravani.jpeg">
                    <h4>Sravani</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/sandeep.jpeg">
                    <h4>Sandeep</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/manikanta.jpeg">
                    <h4>ManiKanta Narsina</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/rahul.jpeg">
                    <h4>Rahul</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>


            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/venkatesh.jpeg">
                    <h4>Venkatesh</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/swathi.jpeg">
                    <h4>Swathi</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/seshu.jpeg">
                    <h4>Seshu</h4>
                    <p>Junior Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>

        </section>
    </mat-tab>



    <mat-tab label="Staff">
        <section class="staff">
            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/venuanna.jpeg">
                    <h4>Venu Gopal</h4>
                    <p>Managing Director</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/ajay anna.jpeg">
                    <h4>Ajay Kumar Reddy</h4>
                    <p>Chief Information Officer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/manjunath.jpeg">
                    <h4>Manjunath Reddy</h4>
                    <p>Cheif Technology Officer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>

            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/renuka.jpeg">
                    <h4>Renuka</h4>
                    <p>Manager</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/venky anna.jpeg">
                    <h4>Venkatesh</h4>
                    <p>Chief Innovation Officer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/triveni.jpeg">
                    <h4>Thriveni</h4>
                    <p>Cheif Operational Officer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>


            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/shashi.jpeg">
                    <h4>Shashi</h4>
                    <p>Software Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/laxmi.jpeg">
                    <h4>Lakshmi</h4>
                    <p>Software Developer</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/sandya.jpeg">
                    <h4>sandya</h4>
                    <p>HR Manager</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>

            <div class="user">
                <div id="use" class="p-3 mb-2 bg-white text-dark shadow p-3 mb-5 bg-body rounded"
                    style="width: 250px;height:300px;">
                    <img src="../../assets/siva.jpeg">
                    <h4>Shiva</h4>
                    <p>Software Trainee</p>
                    <div class="mail">
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="mailto:info@varcasinfo.com"><i class="fa-solid fa-envelope"></i>Email</a>
                        <a style="width: 125px;height:40px;"
                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            href="tel:+1-943-511-2203"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                </div>

            </div>

        </section>
    </mat-tab>
</mat-tab-group>


